# Database configuration (для локального запуска через Docker)
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/events

# Events Provider API (публичный URL для локальной разработки)
EVENTS_PROVIDER_BASE_URL=https://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=your_api_key_here
